USE master;
GO

-- Drop database if exists
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'HotelManager')
BEGIN
    ALTER DATABASE HotelManager SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE HotelManager;
END
GO

-- Create database
CREATE DATABASE HotelManager;
GO

USE HotelManager;
GO

-- =============================================
-- Table: Login (User Authentication & Authorization)
-- =============================================
CREATE TABLE [dbo].[Login](
    [userid] [nvarchar](100) NOT NULL,
    [password] [nvarchar](100) NOT NULL,
    [username] [nvarchar](100) NOT NULL,
    [role] [nvarchar](20) NOT NULL,
    [status] [nvarchar](20) NOT NULL,
    [created_at] [datetime] DEFAULT GETDATE(),
    PRIMARY KEY CLUSTERED ([userid] ASC)
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF,
          ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY];
GO

-- Add constraints for Login table
ALTER TABLE [dbo].[Login] WITH CHECK ADD CHECK (
    [role] IN ('admin', 'staff', 'manager', 'customer')
);
GO

ALTER TABLE [dbo].[Login] WITH CHECK ADD CHECK (
    [status] IN ('active', 'inactive', 'fire')
);
GO

-- =============================================
-- Table: Customers (Customer Information)
-- =============================================
CREATE TABLE [dbo].[customers](
    [id] [bigint] IDENTITY(1,1) NOT NULL,
    [full_name] [nvarchar](255) NOT NULL,
    [email] [nvarchar](255) NOT NULL UNIQUE,
    [phone_number] [nvarchar](50) NOT NULL,
    [created_at] [datetime] DEFAULT GETDATE(),
    PRIMARY KEY CLUSTERED ([id] ASC)
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF,
          ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY];
GO

-- =============================================
-- Table: Rooms (Hotel Room Information)
-- =============================================
CREATE TABLE [dbo].[rooms](
    [id] [bigint] IDENTITY(1,1) NOT NULL,
    [room_number] [nvarchar](50) NOT NULL UNIQUE,
    [room_type] [nvarchar](50) NOT NULL,
    [price_per_night] [decimal](10, 2) NOT NULL,
    [capacity] [int] NOT NULL,
    [description] [nvarchar](1000) NULL,
    [image_url] [nvarchar](500) NULL,
    [available] [bit] NOT NULL DEFAULT 1,
    PRIMARY KEY CLUSTERED ([id] ASC)
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF,
          ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY];
GO

-- Add constraints for Rooms table
ALTER TABLE [dbo].[rooms] WITH CHECK ADD CHECK ([price_per_night] > 0);
GO

ALTER TABLE [dbo].[rooms] WITH CHECK ADD CHECK ([capacity] > 0);
GO

-- =============================================
-- Table: Bookings (Room Booking Records)
-- =============================================
CREATE TABLE [dbo].[bookings](
    [id] [bigint] IDENTITY(1,1) NOT NULL,
    [room_id] [bigint] NOT NULL,
    [customer_id] [bigint] NOT NULL,
    [check_in_date] [date] NOT NULL,
    [check_out_date] [date] NOT NULL,
    [number_of_guests] [int] NOT NULL,
    [total_amount] [decimal](10, 2) NOT NULL,
    [status] [nvarchar](50) NOT NULL DEFAULT 'PENDING_PAYMENT',
    [created_at] [datetime] DEFAULT GETDATE(),
    [updated_at] [datetime] DEFAULT GETDATE(),
    PRIMARY KEY CLUSTERED ([id] ASC)
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF,
          ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
    CONSTRAINT [FK_bookings_room] FOREIGN KEY ([room_id])
        REFERENCES [dbo].[rooms]([id]),
    CONSTRAINT [FK_bookings_customer] FOREIGN KEY ([customer_id])
        REFERENCES [dbo].[customers]([id])
) ON [PRIMARY];
GO

-- Add constraints for Bookings table
ALTER TABLE [dbo].[bookings] WITH CHECK ADD CHECK (
    [status] IN ('PENDING_PAYMENT', 'CONFIRMED', 'CANCELLED', 'COMPLETED')
);
GO

ALTER TABLE [dbo].[bookings] WITH CHECK ADD CHECK ([check_out_date] > [check_in_date]);
GO

ALTER TABLE [dbo].[bookings] WITH CHECK ADD CHECK ([number_of_guests] > 0);
GO

ALTER TABLE [dbo].[bookings] WITH CHECK ADD CHECK ([total_amount] >= 0);
GO

-- =============================================
-- Table: Payments (Payment Transaction Records)
-- =============================================
CREATE TABLE [dbo].[payments](
    [id] [bigint] IDENTITY(1,1) NOT NULL,
    [booking_id] [bigint] NOT NULL UNIQUE,
    [amount] [decimal](10, 2) NOT NULL,
    [payment_method] [nvarchar](50) NOT NULL,
    [status] [nvarchar](50) NOT NULL DEFAULT 'PENDING',
    [transaction_id] [nvarchar](500) NULL,
    [failure_reason] [nvarchar](1000) NULL,
    [payment_date] [datetime] NULL,
    [created_at] [datetime] DEFAULT GETDATE(),
    PRIMARY KEY CLUSTERED ([id] ASC)
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF,
          ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
    CONSTRAINT [FK_payments_booking] FOREIGN KEY ([booking_id])
        REFERENCES [dbo].[bookings]([id])
) ON [PRIMARY];
GO

-- Add constraints for Payments table
ALTER TABLE [dbo].[payments] WITH CHECK ADD CHECK (
    [payment_method] IN ('CREDIT_CARD', 'DEBIT_CARD', 'BANK_TRANSFER', 'E_WALLET', 'CASH')
);
GO

ALTER TABLE [dbo].[payments] WITH CHECK ADD CHECK (
    [status] IN ('PENDING', 'SUCCESS', 'FAILED', 'REFUNDED')
);
GO

ALTER TABLE [dbo].[payments] WITH CHECK ADD CHECK ([amount] > 0);
GO

-- =============================================
-- Create Indexes for Performance
-- =============================================

-- Index on customer email for quick lookup
CREATE NONCLUSTERED INDEX [IX_customers_email] ON [dbo].[customers]([email]);
GO

-- Index on room number for quick lookup
CREATE NONCLUSTERED INDEX [IX_rooms_room_number] ON [dbo].[rooms]([room_number]);
GO

-- Index on room type for filtering
CREATE NONCLUSTERED INDEX [IX_rooms_room_type] ON [dbo].[rooms]([room_type]);
GO

-- Index on booking dates for availability queries
CREATE NONCLUSTERED INDEX [IX_bookings_dates] ON [dbo].[bookings]([check_in_date], [check_out_date]);
GO

-- Index on booking status
CREATE NONCLUSTERED INDEX [IX_bookings_status] ON [dbo].[bookings]([status]);
GO

-- Index on payment status
CREATE NONCLUSTERED INDEX [IX_payments_status] ON [dbo].[payments]([status]);
GO

-- =============================================
-- Insert Sample Data
-- =============================================

-- Insert Login users
INSERT INTO [dbo].[Login] ([userid], [password], [username], [role], [status])
VALUES
    (N'admin01', N'admin123', N'System Admin', N'admin', N'active'),
    (N'manager02', N'123456', N'Nguyen Van Manager', N'manager', N'active'),
    (N'u04', N'123456', N'Nguyen Van D', N'staff', N'active'),
    (N'cust02', N'123456', N'Nguyen Van Customer', N'customer', N'active');
GO

-- Insert Sample Rooms with Images
GO

-- Insert Sample Customers
INSERT INTO [dbo].[customers] ([full_name], [email], [phone_number])
VALUES
    (N'Nguyen Van A', N'nguyenvana@example.com', N'0901234567'),
    (N'Tran Thi B', N'tranthib@example.com', N'0912345678'),
    (N'Le Van C', N'levanc@example.com', N'0923456789'),
    (N'Pham Thi D', N'phamthid@example.com', N'0934567890'),
    (N'Hoang Van E', N'hoangvane@example.com', N'0945678901');
GO

-- =============================================
-- Create Triggers
-- =============================================

-- Trigger: Update booking updated_at timestamp
CREATE TRIGGER [dbo].[tr_bookings_update_timestamp]
ON [dbo].[bookings]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[bookings]
    SET updated_at = GETDATE()
    FROM [dbo].[bookings] b
    INNER JOIN inserted i ON b.id = i.id;
END
GO

-- =============================================
-- Database Setup Complete
-- =============================================

PRINT '========================================';
PRINT 'Database HotelManager created successfully!';
PRINT '========================================';
PRINT 'Tables created:';
PRINT '  - Login (User Authentication)';
PRINT '  - customers (Customer Information)';
PRINT '  - rooms (Hotel Rooms with Images)';
PRINT '  - bookings (Room Booking Records)';
PRINT '  - payments (Payment Transactions)';
PRINT '========================================';
PRINT 'Sample data inserted for testing';
PRINT '========================================';
GO

-- Display summary
SELECT 'Login Users' AS [Table], COUNT(*) AS [Count] FROM [dbo].[Login]
UNION ALL
SELECT 'Customers', COUNT(*) FROM [dbo].[customers]
UNION ALL
SELECT 'Rooms', COUNT(*) FROM [dbo].[rooms]
UNION ALL
SELECT 'Bookings', COUNT(*) FROM [dbo].[bookings]
UNION ALL
SELECT 'Payments', COUNT(*) FROM [dbo].[payments];
GO

SELECT room_number, room_type, price_per_night, capacity, image_url
FROM [dbo].[rooms]
ORDER BY room_number;
GO
